@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb; /* light gray */
    --foreground: #111827; /* dark text */
  }
}

body {
   /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes scrollDot {
  0% { transform: translateY(0); opacity: 0.2; }
  30% { opacity: 1; }
  60% { transform: translateY(14px); opacity: 1; }
  100% { transform: translateY(18px); opacity: 0; }
}

.animate-scrollDot {
  animation: scrollDot 1.6s infinite;
}
html { scroll-behavior: smooth; }
